html {
    --bg-color-lit: hsl(232, 100%, 65%);
    --txt-color-lit: hsl(0deg 0% 100%);

    --bg-color-stencil: hsl(0deg 0% 0%);
    --txt-color-stencil: hsl(0deg 0% 100%);

    --bg-color-react: hsl(190.91deg 65.35% 60.39%);
    --txt-color-react: hsl(0deg 0% 100%);

    --bg-color-svelte: hsl(11.87deg 93.81% 61.96%);
    --txt-color-svelte: hsl(0deg 0% 100%);

    --bg-color-vue: hsl(153, 47%, 49%);
    --txt-color-vue: hsl(0deg 0% 100%);
}